<div class="container">
  <div class="row d-flex justify-content-center align-items-center my-3">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
      <button
        type="button"
        (click)="changeTab('search')"
        class="btn btn-primary"
      >
        Search
      </button>
      <button
        type="button"
        (click)="changeTab('pending')"
        class="btn btn-primary mx-2"
      >
        Pending
      </button>
      <button
        type="button"
        (click)="changeTab('frineds')"
        class="btn btn-primary"
      >
        Friends
      </button>
    </div>
  </div>
  <div
    *ngIf="currentComponent == 'search'"
    class="row d-flex justify-content-center align-items-center"
  >
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-search-bar></app-search-bar>
    </div>
  </div>
  <div
    *ngIf="currentComponent == 'search'"
    class="row d-flex justify-content-center align-items-center"
  >
    <div class="col-12">
      <app-show-searched-friends></app-show-searched-friends>
    </div>
  </div>
  <div
    *ngIf="currentComponent == 'pending'"
    class="row d-flex justify-content-center align-items-center"
  >
    <div class="col-12">
      <app-pending-friend-requests></app-pending-friend-requests>
    </div>
  </div>
  <div
    *ngIf="currentComponent == 'frineds'"
    class="row d-flex justify-content-center align-items-center"
  >
    <div class="col-12"><app-my-friends></app-my-friends></div>
  </div>
</div>
