<div class="container">
  <div class="row">
    <!-- Left column for buttons -->
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="button-container">
        <button
          type="button"
          (click)="changeTab('search')"
          class="btn btn-primary w-100 mb-2"
        >
          Search
        </button>
        <button
          type="button"
          (click)="changeTab('pending')"
          class="btn btn-primary w-100 mb-2"
        >
          Pending
        </button>
        <button
          type="button"
          (click)="changeTab('friends')"
          class="btn btn-primary w-100 mb-2"
        >
          Friends
        </button>
      </div>
    </div>

    <!-- Right column for content -->
    <div class="col-lg-9 col-md-8 col-sm-12">
      <div class="content-container">
        <div *ngIf="currentComponent == 'search'">
          <app-search-bar></app-search-bar>
          <app-show-searched-friends></app-show-searched-friends>
        </div>

        <div *ngIf="currentComponent == 'pending'">
          <app-pending-friend-requests></app-pending-friend-requests>
        </div>

        <div *ngIf="currentComponent == 'friends'">
          <app-my-friends></app-my-friends>
        </div>
      </div>
    </div>
  </div>
</div>
