<div
  class="container-fluid d-flex justify-content-center align-items-center vh-100 text-center"
  style="background-image: linear-gradient(180deg, #bdd4e7 0%, #8693ab 74%)"
>
  <div class="row w-100 justify-content-center">
    <div
      class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 bg-light border-1 rounded-2 p-4 shadow"
      style="border: 1px solid gray"
    >
      <div class="row mt-2">
        <div class="col-12">
          <p class="mb-1 fs-3 fw-bold">DRS_Social_Media</p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <p class="mb-1">Sign in to your account</p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <p class="text-start mb-1">Username</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <input
            id="username"
            [(ngModel)]="userObj.username"
            class="form-control rounded-2"
            style="border-color: black"
            placeholder="Enter your username"
            title="Please fill in this field"
          />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <p class="text-start mb-1">Password</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <input
            id="password"
            [(ngModel)]="userObj.password"
            type="password"
            class="form-control rounded-2"
            style="border-color: black"
            placeholder="Enter your password"
            title="Please fill in this field"
          />
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <input
            id="loginbtn"
            (click)="onLoginUser()"
            class="btn btn-primary w-100 rounded-2 text-white"
            type="submit"
            value="Sign in"
          />
        </div>
      </div>
    </div>
  </div>
</div>
